<b>Only run once to initialize database.</b>
<br>
<br>
Running multiple times will create duplicates (redundancies).
<br>
<br>
IF script is run more than once, delete database (<em>'sqlite:///project_3.sqlite'</em>)

In [1]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer,Float, String, create_engine
from sqlalchemy.orm import Session


Base = declarative_base()
engine = None

In [2]:
import requests
import json
import os
from pprint import pprint
import pandas as pd


data_url = "https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2019-01-01&endtime=2019-02-01&eventtype=earthquake"
# data_url1 = "https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2014-02-01&endtime=2014-03-01&eventtype=earthquake"
output_path = os.path.join("/images/")
response = requests.get(data_url)
data = response.json()







# pprint(data)




# create list variables to contain data
coords = []
alert = []
cdi = []
code = []
detail = []
dmin = []
mag = []
magType = []
ids = []
felt = []
gap = []
mmi = []
net = []
nst = []
place = []
rms = []
sig = []
sources = []
status = []
sources = []
Time = []
title = []
tsunami = []
types = []
tz = []
updated = []
url = []
Lat = []
Lon = []

# append all lists
for x in data["features"]:
    alert.append(x["properties"]["alert"])

    cdi.append(x["properties"]["cdi"])

    code.append(x["properties"]["code"])

    detail.append(x["properties"]["detail"])

    dmin.append(x["properties"]["dmin"])

    mag.append(x["properties"]["mag"])

    magType.append(x["properties"]["magType"])

    ids.append(x["properties"]["ids"])

    felt.append(x["properties"]["felt"])

    gap.append(x["properties"]["gap"])

    mmi.append(x["properties"]["mmi"])

    net.append(x["properties"]["net"])

    nst.append(x["properties"]["nst"])

    place.append(x["properties"]["place"])

    rms.append(x["properties"]["rms"])

    sig.append(x["properties"]["sig"])

    sources.append(x["properties"]["sources"])

    status.append(x["properties"]["status"])

    Time.append(x["properties"]["time"])

    title.append(x["properties"]["title"])

    tsunami.append(x["properties"]["tsunami"])

    types.append(x["properties"]["type"])

    tz.append(x["properties"]["tz"])

    updated.append(x["properties"]["updated"])

    url.append(x["properties"]["url"])

    value = (x["geometry"]["coordinates"])
    # sep = value.split(",")
    Lon.append(value[0])
    Lat.append(value[1])


# construct dataframes for each list in Pandas

alert_df = pd.DataFrame({"Alert": alert})
cdi_df = pd.DataFrame({"CDI": cdi})
code_df = pd.DataFrame({"Code": code})
detail_df = pd.DataFrame({"Detail": detail})
dmin_df = pd.DataFrame({"Depth": dmin})
mag_df = pd.DataFrame({"Magnitude":mag})
magType_df = pd.DataFrame({"Waveform":magType})
ids_df = pd.DataFrame({"ID":ids})
felt_df = pd.DataFrame({"Felt":felt})
gap_df = pd.DataFrame({"Gap":gap})
mmi_df = pd.DataFrame({"MMI":mmi})
net_df = pd.DataFrame({"Net":net})
nst_df = pd.DataFrame({"NST":nst})
place_df = pd.DataFrame({"Place":place})
rms_df = pd.DataFrame({"RMS":rms})
sig_df = pd.DataFrame({"Sig":sig})
sources_df = pd.DataFrame({"Sources":sources})
status_df = pd.DataFrame({"Status":status})
time_df = pd.DataFrame({"Time":Time})
title_df = pd.DataFrame({"Title":title})
tsunami_df = pd.DataFrame({"Tsunami":tsunami})
types_df = pd.DataFrame({"Type":types})
tz_df = pd.DataFrame({"TZ":tz})
updated_df = pd.DataFrame({"Updated":updated})
# url_df = pd.DataFrame({"URL":url})
# coords_Df = pd.DataFrame({"Coordinates":coords})
Lat_Df = pd.DataFrame({"Latitude":Lat})
Lon_Df = pd.DataFrame({"Longitude":Lon})

# merges dataframes made above

ses_df = pd.DataFrame(Lat_Df)
# ses_df = ses_df.merge(Lat_Df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(Lon_Df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(cdi_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(code_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(detail_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(dmin_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(mag_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(magType_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(ids_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(felt_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(gap_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(mmi_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(net_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(nst_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(rms_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(place_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(sig_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(sources_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(status_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(time_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(title_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(tsunami_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(types_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(tz_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(updated_df, "inner", right_index=True, left_index=True)
# ses_df = ses_df.merge(url_df, "inner", right_index=True, left_index=True)

ses_df.to_csv("data/dashboard_data/Seismic_Data.csv")

#print(ses_df)

In [3]:
ses_df['Waveform'] = ses_df['Waveform'].str.upper()
ses_df.head()

,Latitude,Longitude,Depth,Magnitude,Waveform,Place,Time,Type
0,33.4975,-116.787333,0.018390,0.52,ML,"9km NE of Aguanga, CA",1548979193580,earthquake
1,59.5035,-151.226600,NaN,1.30,ML,"23km SE of Homer, Alaska",1548978836278,earthquake
2,33.5145,-116.798500,0.002627,0.40,ML,"10km NE of Aguanga, CA",1548978027530,earthquake
3,61.4453,-149.999600,NaN,1.50,ML,"8km SSW of Big Lake, Alaska",1548977803817,earthquake
4,33.5060,-116.472667,0.042900,0.69,ML,"19km ESE of Anza, CA",1548977634820,earthquake

In [4]:
uncerf_df = pd.read_csv('data/dashboard_data/UNCERF.csv')
uncerf_df['Total Disaster Relief($)'] = uncerf_df['Total Disaster Relief($)'].replace(',','', regex=True)
print(uncerf_df)

                               Country Total Disaster Relief($)
0    Democratic Republic of the Congo                 397960925
1                Republic of the Sudan                380660961
2                             Ethiopia                309516428
3                              Somalia                300513523
4                              Yemen                  271975141
..                                 ...                      ...
97                              Mexico                  1693550
98                              Brazil                  1502535
99                    Marshall Islands                  1000000
100                         Cape Verde                   474338
101                            Armenia                   299787

[102 rows x 2 columns]

In [5]:
quaker_df = pd.read_csv('data/dashboard_data/quakers2shakers.csv')
print(quaker_df)

                   country  magnitude  pop_mil  aid_usd_mil  \
0                  DRCongo        6.6     92.0    397000000
1                    Sudan        6.2     45.0    380000000
2                 Ethiopia        6.5    114.0    309000000
3                  Somalia        5.6     15.4    300000000
4                    Yemen        6.6     31.0    271000000
5                     Chad        5.3     16.2    212000000
6                 Pakistan        8.1    225.0    211000000
7              South Sudan        7.2     11.4    190000000
8                    Niger        5.3     25.0    178000000
9                    Kenya        6.9     55.0    176000000
10            Afghanistan         7.6     39.8    147000000
11                 Uganda         6.5     47.0    143000000
12             North Korea        7.3     25.9    140000000
13                   Haiti        8.1     12.0    137000000
14  CentralAfricanRepublic        4.7      4.9    128000000
15                   Syria        7.1     18.3    122000000
16                 Myanmar        6.9     54.8    122000000
17                    Iraq        7.3     41.1    115000000
18                Zimbabwe        5.8     15.0    109000000
19               Sri Lanka        9.1     22.2    104000000
20                Cameroon        4.9     27.0     95000000
21             Philippines        7.9    111.0     91000000
22                    Mali        4.2     21.0     88000000
23                 Nigeria        4.5    211.4     87000000
24              Bangladesh        5.8    166.3     79000000

    earthqks#_year_prev
0                     0
1                     0
2                     0
3                     0
4                     0
5                     0
6                     4
7                     1
8                     0
9                     0
10                   20
11                    0
12                    3
13                   12
14                    0
15                    2
16                    3
17                   19
18                    0
19                    0
20                    1
21                   52
22                    0
23                    0
24                    6

In [6]:
county_df = pd.read_csv('data/aggregateCountyData.csv')
county_df.head()

,County Name,Total Damaging Events,Rate of Damaging Events,Frequncy of Section,Reccurance Interval,Are of Section,Frequency of Section,Recurrence Interval,Area of Section,Probability,Latitude,Longitude,Radius
0,Alameda_County,20.0,4.0,80.0,0.012500,1912.0,0.0,0.0,0.0,0.0,37.804830,-122.272480,1912
1,Alpine_County,30.0,6.0,180.0,0.005556,1914.0,0.0,0.0,0.0,0.0,38.693560,-119.777756,1914
2,Amador_County,43.0,8.6,369.8,0.002704,1570.0,0.0,0.0,0.0,0.0,38.445850,-120.652440,1570
3,Butte_County,46.0,9.2,423.2,0.002363,4250.0,0.0,0.0,0.0,0.0,39.512340,-121.554610,4248
4,Calaveras_County,28.0,5.6,156.8,0.006378,3642.0,0.0,0.0,0.0,0.0,38.196213,-120.680920,2642

In [7]:
# Create the uncerf and earthquake class
class earthquake(Base):
    __tablename__ = 'SeismicData'
    id = Column(Integer, primary_key=True)
    Latitude = Column(String(255))
    Longitude = Column(String(255))
    Depth = Column(Float)
    Magnitude = Column(Float)
    Waveform = Column(String(255))
    Place = Column(String(255))
    Time = Column(Float)
    Type = Column(String(255))

class uncerf(Base):
    __tablename__ = 'ReliefExpenses'
    id = Column(Integer, primary_key=True)
    Country = Column(String(255))
    Total_relief = Column(Integer)

class quake(Base):
    __tablename__ = 'Quakers2Shakers'
    id = Column(Integer, primary_key=True)
    country = Column(String(255))
    magnitude = Column(Float)
    pop_mil = Column(Float)
    aid_usd_mil = Column(Float)
    earthqks_year_prev = Column(Integer)

class county_data(Base):
    __tablename__ = 'CountyData'
    id = Column(Integer, primary_key=True)
    county = Column(String(255))
    total_damaging_events = Column(Float)
    rate_of_damaging_events = Column(Float)
    frequency_of_section_1 = Column(Float)
    recurance_interval_1 = Column(Float)
    area_of_section_1 = Column(Float)
    frequency_of_section_2 = Column(Float)
    recurance_interval_2 = Column(Float)
    area_of_section_2 = Column(Float)
    probability = Column(Float)
    latitude = Column(Float)
    longitude = Column(Float)
    radius = Column(Float)

In [8]:
dbPath = 'sqlite:///project_3.sqlite'
engine = create_engine(dbPath)
Base.metadata.create_all(engine)
s = Session(bind=engine)

In [9]:
relief_objects = []
for index, row in uncerf_df.iterrows():
    data_row = uncerf(Country = row[0] , Total_relief = row[1])
    relief_objects.append(data_row)

s.bulk_save_objects(relief_objects)
s.commit()

In [10]:
quaker_objects = []
for index, row in quaker_df.iterrows():
    data_row = quake(country=row[0], magnitude = row[1], pop_mil = row[2], aid_usd_mil = row[3], earthqks_year_prev = row[4])
    quaker_objects.append(data_row)

s.bulk_save_objects(quaker_objects)
s.commit()

In [11]:
county_data_objects = []
for index, row in county_df.iterrows():
    data_row = county_data(county=row[0], total_damaging_events=row[1], rate_of_damaging_events=row[2], frequency_of_section_1=row[3],
                     recurance_interval_1=row[4], area_of_section_1=row[5], frequency_of_section_2=row[6], recurance_interval_2=row[7], area_of_section_2=row[8], probability=row[9], latitude=row[10], longitude=row[11], radius=row[12])
    county_data_objects.append(data_row)

s.bulk_save_objects(county_data_objects)
s.commit()

In [12]:
earthquake_objects = []
for index, row in ses_df.iterrows():
    data_row = earthquake(Latitude=row[0], Longitude=row[1], Depth=row[2], Magnitude=row[3],
                     Waveform=row[4], Place=row[5], Time=row[6], Type=row[7])
    earthquake_objects.append(data_row)

s.bulk_save_objects(earthquake_objects)
s.commit()

In [13]:
s.close()